
.header {
  padding: 60px;
  text-align: center;
  background: #a3c5be;
  color: #006d77;
  font-size: 30px;
}
.topnav {
  overflow: hidden;
  background-color: #e29578;
}


.topnav a {
  float: left;
  display: block;
  color: rgb(248, 234, 226);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #bb745a;
  color: rgb(183, 157, 157);
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #e29578;
  }
}


body {
    font-family: "Verdana"; 
    color : #a3c5be ; 
    background-color: #EDf6f9;
}

h4 {    color : #EDf6f9 ; 
}

h3 { 
  color : #a3c5be ; 
  text-align: center;
}

h2 {color: #708298; text-align: center}

p{ 
    color: #a27167 ;
    text-decoration: none;
    font-weight: 600;

}

.decor{ 
  color: #0c6068 ;
  font-size: large;
  text-decoration: none;
  background-color: #3b9ea7;
  padding: 15px 32px;
  font-weight: 600;
  text-align: center;

}

.decor2{ 
  color: #ce5f53 ;
  font-size: large;
  text-decoration: none;
  background-color: #e29578;
  padding: 15px 32px;
  font-weight: 600;
  text-align: center;

}

.portfolio {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.portfolio-image {
  width: 100%;
  height: auto;
}

.text2 {
  background-color: #09808b;
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
p a{ 
  color: #a1c7bf ;
  text-decoration: none;

}

p a:hover{ 
  color: #73a199 ;
  text-decoration: none;

}

h3 a{ 
  color: #a3c5be ;
  text-decoration: none;

}


 .container {
  position: relative;
} 

.image {
  opacity: 1;
  display: block;
  width:  250px;
  height: 300px;
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;

}

.middle {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
} 

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #09808b;
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  text-decoration: none;

  
}

.text:hover {
  transition: .5s ease;
  background-color: #06535b;
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  text-decoration: none;

  
}

.text1 {
  background-color: #a9b7c8;
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  text-decoration: none;

  
}



h1 { text-align: center;}

/* this is a navigation bar */


footer {
    position: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 5 auto;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
    background-color: #006d77;
              }
  
.line  {background-color: #a29b89;}


div.background {
  background: url(/static/images/lb.jpeg) repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #f9f0e5;
  border: 1px solid black;
  opacity: 0.6;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

/* grid images */
.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* contact form */

body {font-family: "gill sans", sans-serif; color:#cf7757}
* {box-sizing: border-box;}

input[type=text2], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ab989e;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #accbb8;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #94b5a1;
}

.contactlist {
  font-family: "gill sans", sans-serif; 
  border-radius: 5px;
  background-color: #9cbcbf;
  padding: 20px;
  
}

#button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button {
  background-color: #accbb8; 
  color: #ffffff; 
}

#button:hover {
  background-color: #80a38d;
  color: white;
}


#button1 {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button1 {
  background-color: #e29578; 
  color: #ffffff; 
}

#button1:hover {
  background-color: #cf7a5c;
  color: white;
}

input[type=submit] {
  background-color: #e29578;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #cf7a5c;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(93, 165, 223); /* Fallback color */
  background-color: rgba(99, 119, 146, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}


/* rating */
:root{
  --primary-colour: hsl(25, 65%, 76%);
  --secondary-colour: hsl(25, 83%, 68%);
 
  --star-colour: hsl(25, 83%, 68%);
}

  .container1{
  position: relative;
  top: 50%;
  left: 50%;
  
  width: 20%;
  height: 20%;
  
  transform: translate(-50%, -50%) rotateY(180deg);
} 

.container1 .container__items{
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 0 .5em;
  
  width: 100%;
  height: 100%;
}

.container1 .container__items input{
  display: none;
}

.container1 .container__items label{
  width: 20%;
  aspect-ratio: 1;
  cursor: pointer;
}

.container1 .container__items label .star-stroke{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: var(--secondary-colour);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.container1 .container__items label .star-stroke .star-fill{
  width: 70%;
  aspect-ratio: 1;
  background: var(--primary-colour);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.container1 .container__items input:hover ~ label .star-stroke,.container .container__items input:checked ~ label .star-stroke{
  background: var(--star-colour);
}

.container1 .container__items input:checked ~ label .star-stroke .star-fill{
  background: var(--star-colour);
}

.container1 .container__items label:hover .label-description::after{
  content: attr(data-content);
  position: fixed;
  left: 0;
  right: 0;

  margin-top: 1em;
  margin-inline: auto;

  width: 100%;
  height: 2em;

  color: #a3c5be;
  
  text-align: center;
  font-size: 2rem;
  
  transform: rotateY(180deg);
}    



.error {
  text-align: center;
}

.error img {
  width: 150px;
  margin-bottom: 20px;
}

.error h1 {
  font-size: 10em;
  margin: 0;
  color: #84b0a7;
}

.error p {
  font-size: 1.5em;
  margin: 0;
  margin-top: 20px;
}

.error a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e29578;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  font-size: 1.2em;
  border-radius: 50px;
  animation: bounce 1s ease-in-out infinite;
}

.error a:hover {
  background-color: #d47d65;
  color: #fff;
}


/* login 2 */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.box{
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}

.form-box{
  width: 450px;
  margin: 0px 10px;
}

.form-box header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

.form-box form .field{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.form-box form .input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px;
  outline: none;
}

/* check this is working */
.btn{
  height: 35px;
  border: 0;
  color: #fff;
  background-color: #e29578;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s;
  margin-top: 10px;
  padding: 0px 10px;
}

.btn:hover{
  opacity: 0.82;
}

.submit{
  width: 100%;
}

.links{
  margin-bottom: 15px;
}

.message{
  color: #cf2e1c
}

/* Home */
.right-links a{
  padding: 0 10px;
}

.bottom {
  width: 100%;
  margin-top: 20px;
}

@media only screen and (max-width: 840px) {
  .main-box .top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top .box{
    margin: 40px 10px;
  }
  .bottom {
    margin-top: 0;
  }
} 