{% extends "u_layout.html" %}

{% block content %}
    <div class="text1">
    <h2>About {{ author[1] }}</h2>
    </div>
    <!-- Author Description -->
    <p>{{ author[2] }}</p>

    <!-- Associated Books -->
    <p class="decor">Books:
      {% for book in books %}
        <a href="/books/{{ book[0] }}">{{ book[1] }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  </div>

    <!-- Author Image -->
  {% if author[3] %}
    <div class="portfolio">
      <img src="{{ author[3] }}" alt="Books Image" class="portfolio"/>
        <div class="text2"> Picture of {{ author[1] }}</div>
    </div>
  {% endif %}
{% endblock %}