{% extends "a_layout.html" %}
{% block content %}

<h1> Please refer to the database tables on the admin page. </h1>
<!-- Subheading for adding authors -->
<h2> Add Author </h2>
<!-- Author Form -->
<div class="contactlist">
    <form action="/add_database" method="post" enctype="multipart/form-data">
        <label for="aname">Author Name</label>
        <input type="text2" id="aname" name="aname" placeholder="Name.." required maxlength="25">

        <label for="a_description">Description</label>
        <textarea id="a_description" name="a_description" placeholder="Description.." required maxlength="250">
        </textarea>

        <label for="a_image">Upload Author Image:</label>
        <input type="file" id="a_image" name="a_image" required>

        <button id="button1" type="submit">Submit</button>

        {% if message.author %}  <!-- Check if there is a message to display -->
            <p class="message">{{ message.author }}</p> <!-- Display the message -->
        {% endif %}
        
    </form>
</div>

<h2> Add Book </h2>
<!-- Book Form -->
<div class="contactlist">
    <form action="/add_database" method="post" enctype="multipart/form-data">
        <label for="bname">Book Name</label>
        <input type="text2" id="bname" name="bname" placeholder="Name.." required maxlength="25">

        <label for="blurb">Blurb</label>
        <textarea id="blurb" name="blurb" placeholder="Blurb.." required maxlength="250">
        </textarea>
        <label for="authors">Select Author</label>
            <select id="authors" name="authors">
                {% for author in authors %}
                    <option value="{{ author[0] }}">{{ author[1]}}</option>
                {% endfor %}
            </select>

            <label for="genres">Select Genre(s)</label>
            <select id="genres" name="genres" multiple>
                {% for genre in genres %}
                    <option value="{{ genre[0] }}">{{ genre[1]}}</option>
                {% endfor %}
            </select>


        <button id="button1" type="submit">Submit</button>

        {% if message.book %}  <!-- Check if there is a message to display -->
            <p class="message">{{ message.book }}</p> <!-- Display the message -->
        {% endif %}

        <label for="b_image">Upload Book Image:</label>
        <input type="file" id="b_image" name="b_image" accept="image/*" required>

    </form>
</div>

<h2> Add Genre </h2>
<!-- Genre Form -->
<div class="contactlist">
    <form action="/add_database" method="post">
        <label for="gname">Genre Name</label>
        <input type="text2" id="gname" name="gname" placeholder="Genre Name.." required maxlength="25">

        <label for="description">Description</label>
        <input type="text2" id="g_description" name="g_description" placeholder="Description.." required maxlength="250">

        <button id="button1" type="submit">Submit</button>

        {% if message.genre %}  <!-- Check if there is a message to display -->
            <p class="message">{{ message.genre }}</p> <!-- Display the message -->
        {% endif %}
    </form>
</div>

{% endblock %}