{% extends "layout.html" %}
{% block content %}

<div class="right-links">
    <a href="edit">Change Profile</a>
    <a href="{{ url_for('logout') }}">
        <button class="btn">Log Out</button>
    </a>
</div>

<main>
    <div class="main-box top">
        <p>Hello <b>{{ name }}</b>, Welcome to the Library</p>
    </div>
    
    <div class="main-box">
        <p>Your email is <b>{{ email }}</b>.</p>
    </div>
    
    <div class="main-box">
        <p>And you are <b> {{ age }} years old</b>.</p>
    </div>
</main>

<!-- Horizontal lines -->
<h1>------------------------------------------------------------------------</h1>
<h1>------------------------------------------------------------------------</h1>

{% endblock %}