{% extends 'layout.html' %}

{% block content %}


    <!-- Book title -->
    <div class="text1">
    <h2>About {{ book[1] }}</h2>
    </div>
    <h3> Blurb </h3>
    <!-- Book description -->
    <p>{{ book[2] }}</p>

    <!-- association tables -->
    <p class="decor"> Book Genre/s:
      {% for genre in genre %}
        <a href="/genre/{{ genre[0] }}">
          {{ genre[1] }}
        </a>
        {% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>

    <!-- Display book authors -->
    <p class="decor2">Author:
      {% for author in authors %}
        <a href="/author/{{ author[0] }}">{{ author[1] }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  </div>

    <!-- Display book image if available -->
    {% if book[3] %}
      <div class="portfolio">
        <img src="{{ book[3] }}" alt="Books Image" class="portfolio"/>
          <div class="text2"> Book Cover of {{ book[1] }}</div>
      </div>
    {% endif %}

  <!-- Horizontal line separators -->
  <h1>------------------------------------------------------------------------</h1>
  <h1>------------------------------------------------------------------------</h1>

{% endblock %}







