{% extends "a_layout.html" %}
{% block content %}
<h1> Please refer to the database tables on the admin page. </h1>
<h2> Change Author </h2>
<!-- Author Form -->
<div class="contactlist">
    <form action="/change_database" method="post" enctype="multipart/form-data">
        <label for="a_id">ID (required)</label>
        <input type="text2" id="a_id" name="a_id" placeholder="ID..." required maxlength="3">

        <label for="aname">Author Name</label>
        <input type="text2" id="aname" name="aname" placeholder="Name.." required maxlength="25">

        <label for="a_description">Description</label>
        <input type="text2" id="a_description" name="a_description" placeholder="Description.." required maxlength="250">

        <button id="button1" type="submit">Submit</button>

        {% if message1 %}
            <p class="message">{{ message1 }}</p>
        {% endif %}
        
        <label for="a_image">Upload Author Image:</label>
        <input type="file" id="a_image" name="a_image" accept="image/*">
    </form>
</div> <!-- class="contactlist" -->

<h2> Change Book </h2>

<!-- Book Form -->
<div class="contactlist">
    <form action="/change_database" method="post">
        <label for="a_id">ID (required)</label>
        <input type="text2" id="a_id" name="a_id" placeholder="ID..." required maxlength="3">

        <label for="bname">Book Name</label>
        <input type="text2" id="bname" name="bname" placeholder="Name.." required maxlength="25">

        <label for="blurb">Blurb</label>
        <input type="text2" id="blurb" name="blurb" placeholder="Blurb.." required maxlength="250">

        <button id="button1" type="submit">Submit</button>

        {% if message2 %}
            <p class="message2">{{ message2 }}</p>
        {% endif %}

        <label for="b_image">Upload Book Image:</label>
        <input type="file" id="b_image" name="b_image" accept="image/*">

    </form>
</div> <!-- class="contactlist" -->

<h2> Change Genre </h2>

<!-- Genre Form -->
<div class="contactlist">
    <form action="/change_database" method="post">
        <label for="a_id">ID (required)</label>
        <input type="text2" id="a_id" name="a_id" placeholder="ID..." required  maxlength="3">

        <label for="gname">Genre Name</label>
        <input type="text2" id="gname" name="gname" placeholder="Genre Name.." required  maxlength="25">

        <label for="description">Description</label>
        <input type="text2" id="description" name="g_description" placeholder="Description.." required  maxlength="250">

        <button id="button1" type="submit">Submit</button>

        {% if message3 %}
            <p class="message3">{{ message3 }}</p>
        {% endif %}
    </form>
</div> <!-- class="contactlist" -->

{% endblock %}