{% extends "u_layout.html" %}
{% block content %}
    <!-- Title -->
    <h2>Contact Us | Library</h2>
    <h3>Welcome to Contact Us Section!</h3>
     <!-- Description -->
    <h5 style="font-size: 100%;">Hi! This page enables us to stay in touch with those who have any queries.</h5>
    <p style="font-size: 120%;">We are a team of one high school student who is using this website to experiment with how she can run it.
        Because of that, we would like to extend our kindness to our recipients and provide the best service for them.</p>

    <!-- Contact Form -->
    <form action='/contact_us', method='post'>
        <div class="contactlist">
             <!-- name-->
            <label for="fname">First Name</label>
            <input type="text2" id="fname" name="firstname" placeholder="Your name.." required>

            <!-- Last name-->
            <label for="lname">Last Name</label>
            <input type="text2" id="lname" name="lastname" placeholder="Your last name.." required>

            <!-- email-->
            <label for="email">Email</label>
            <input type="text2" id="email" name="email" placeholder="Your email.." required>
            
            <!-- Subject section-->
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" required></textarea>

            <!-- Message display -->
            {% if message %}
                <p class="message">{{ message }}</p>
            {% endif %}
        
            <button id="button1" type="submit"> Submit </button>
        </div>
    </form>
{% endblock %}