{% extends "layout.html" %}
{% block content %}
<h2 > Contact Us | Library </h2>
<h3> Welcome to Contact Us Section!</h3>	
<h5 style="font-size:100%" > Hi! This page enables us to stay in touch with those who have any queries. </h5>
<p style="font-size:120%;"> We are a team of one high school student who is using this website to experiment with how
    she can run it.
    Because of that, we would like to extend our kindness to our recipients and provide the best service for them.</p>

<form action='/contact_us', method='post'>
<div class="contactlist">
    <!-- name-->
    <label for="fname">First Name</label>
    <input type="text2" id="fname" name="firstname" placeholder="Your name..">
    <!-- Last mame-->
    <label for="lname">Last Name</label>
    <input type="text2" id="lname" name="lastname" placeholder="Your last name..">
    <label for="subject">Subject</label>
    <!-- Subject section-->
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    <button id="button1" type="submit" onclick="alert('Thank you for your response c:')"> Submit </button>
    </div>
    </form>
    
    
    <h1> ------------------------------------------------------------------------   </h1>

    {% endblock %}