{% extends "a_layout.html" %}
{% block content %}
<h1> Please refer to the database tables on the admin page. </h1>
<!-- Delete Author -->
<h2> Delete Author </h2>
<div class="contactlist">
    <form action="/delete_database" method="POST">
        <label for="a_id">ID</label>
        <input type="text" id="a_id" name="a_id" placeholder="ID..." required maxlength="3">
        <button id="button1" type="submit">Delete</button>
        {% if messages.a_id %}
            <p class="message">{{ messages.a_id }}</p>
        {% endif %}
    </form>
</div>

<!-- Delete Book -->
<h2> Delete Book </h2>
<div class="contactlist">
    <form action="/delete_database" method="POST">
        <label for="b_id">ID</label>
        <input type="text" id="b_id" name="b_id" placeholder="ID..." required maxlength="3">
        <button id="button1" type="submit">Delete</button>
        {% if messages.b_id %}
            <p class="message">{{ messages.b_id }}</p>
        {% endif %}
    </form>
</div>

<!-- Delete Genre -->
<h2> Delete Genre </h2>
<div class="contactlist">
    <form action="/delete_database" method="POST">
        <label for="g_id">ID</label>
        <input type="text" id="g_id" name="g_id" placeholder="ID..." required maxlength="3">
        <button id="button1" type="submit">Delete</button>
        {% if messages.g_id %}
            <p class="message">{{ messages.g_id }}</p>
        {% endif %}
    </form>
</div>
{% endblock %}