{% extends "a_layout.html" %}
{% block content %}
    <!-- Main content container -->
    <div class="container">
        <div class="box form-box">
            <!-- Form header -->
            <header>Change Profile</header>
            
            <!-- Profile update form -->
            <form action="" method="post">
                <!-- Username field -->
                <div class="field input">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" autocomplete="off" disabled value="{{ name }}">
                </div>
                
                <!-- Email field -->
                <div class="field input">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" autocomplete="off" required value="{{ email }}">
                </div>
                
                <!-- Age field -->
                <div class="field input">
                    <label for="age">Age</label>
                    <input type="text" name="age" id="age" autocomplete="off" required value="{{ age }}" maxlength="3">
                </div>

                <!-- Age field -->
                <div class="field input">
                    <label for="password">password</label>
                    <input type="password" name="password" id="password" autocomplete="off" required>
                </div>

                <div class="field input">
                    <label for="confirmpassword"> Confirm Password</label>
                    <input type="password" name="confirmpassword" id="confirmpassword" autocomplete="off" required>
                </div>
                
                <!-- Message display -->
                {% if message %}
                    <p class="message">{{ message }}</p>
                {% endif %}
                
                <!-- Submit button -->
                <div class="field">
                    <input type="submit" class="btn" name="submit" value="Update">
                </div>
            </form>
            <!-- Delete Account form -->
            <form action="{{ url_for('delete_account') }}" method="post" onsubmit="return confirm('Are you sure you want to delete your account?');">
                <div>
                    <input type="submit" class="delete" name="delete" value="Delete Account">
                </div>
            </form>
        </div>
        </div>
    {% endblock %}
