{% extends "u_layout.html" %}
{% block content %}
    <h2 class="homepage">Home | Library</h2>
    <h1>Welcome to the Library!</h1>

    <!-- Introduction -->
    <h2>Introduction</h2>
    <div class="background">
        <div class="transbox">
            <p>This is a place where you go to if you want to find any books or information about such things.</p>
        </div>
    </div>

    <!-- Horizontal line -->
    <h1>------------------------------------------------------------------------</h1>

{% endblock %}