<!doctype html>
<html>
  <head>
    <title>Library</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/book.png" type="image/png">

  </head>
  <body>
    <header>
      <div class="header">
        <h1>Library</h1>
      </div>
    </header>
   
    <div class="topnav">

      <a href="/">Home</a>
      <a href="/books">Books</a>
      <a href="/genre">Genre</a>
      <a href="/author">Author</a>
  </div>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer> <h3> this is a footer for Peraksana Thayakaran's Project Page. No copyrights here lol </h3> </footer>
  </body>
</html>
