{% extends "u_layout.html" %}
{% block content %}
<!-- Page title and heading -->
<h2>Log In | Library</h2>
<h3>For Admin Only</h3>

<!-- Main content container -->
<div class="container">
    <div class="box form-box">
        <!-- Form header -->
        <header>Login</header>

        <!-- Login form -->
        <form action="{{ url_for('log_in') }}" method="post">
            <!-- Username input field -->
            <div class="field input">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" autocomplete="off" required maxlength="50">
            </div> <!-- class="field input" -->

            <!-- Password input field -->
            <div class="field input">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" autocomplete="off" required minlength="8" maxlength="15">
            </div> <!-- class="field input" -->

            <!-- Message display -->
            {% if message %}
                <p class="message">{{ message }}</p>
            {% endif %}
     

            <!-- Submit button -->
            <div class="field">
                <input type="submit" class="btn" name="submit" value="Login" required>
            </div> <!-- class="field" -->

            <!-- Links section (sign up link) -->
            <div class="links">
                <p> Don't have an account? <a href="register">Sign Up Now</a></p>
            </div> <!-- class="links" -->

            <!-- Links section (password link) -->
            <div class="links">
                <p> <a href="password"> Forgot your password? </a></p>
            </div> <!-- class="links" -->

        </form>
    </div> <!-- class="box form-box" -->
</div><!-- class="container" -->

{% endblock %}