{% extends "u_layout.html" %}
{% block content %}
<!-- Page title and heading -->
<h2>Register | Library</h2>
<h3>For Admin Only</h3>


<!-- Main content container -->
<div class="container">
    <div class="box form-box">
        <!-- Form header -->
        <header>Sign Up</header>
        
        <!-- Registration form -->
        <form action="" method="post">

            <!-- Username input field -->
            <div class="field input">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" autocomplete="off" required>
            </div>
            <!-- Email input field -->
            <div class="field input">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" autocomplete="off" required>
            </div>
            <!-- Age input field -->
            <div class="field input">
                <label for="age">Age (Must be 16 or over)</label>
                <input type="number" name="age" id="age" autocomplete="off" required>
            </div>
            <!-- Password input field -->
            <div class="field input">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" autocomplete="off" required>
            </div>
             <!-- Password input field -->
            <div class="field input">
                <label for="confirmpassword">Confirm Password *</label>
                <input type="password" name="confirmpassword" id="confirmpassword" autocomplete="off" required>
            </div>
            

             <!-- Message display -->
            {% if message %}
                <p class="message">{{ message }}</p>
            {% endif %}

            <!-- Submit button -->
            <div class="field">
                <input type="submit" class="btn" name="submit" value="Register" required>
            </div>

            <!-- Links section (sign in link) -->
            <div class="links">
                <p> Already a member? <a href="log-in">Sign In</a></p>            </div>
        </form>
    </div>
</div>

{% endblock %}