{% extends "u_layout.html" %}
{% block content %}
<!-- Page title and heading -->
<h2>Log In | Library</h2>
<h3>For Admin Only</h3>

<!-- Main content container -->
<div class="container">
    <div class="box form-box">
        <!-- Form header -->
        <header>Change password</header>

        <!-- Login form -->
            <!-- Username input field -->
            <div class="field input">
                <form action="{{ url_for('reset_password', token=token) }}" method="post">
                    <input type="hidden" name="email" value="{{ email }}">
            </div> <!-- class="field input" -->

             <div class="field input">
                <label for="password">New Password:</label>
                <input type="password" name="password" id="password" required minlength="8" maxlength="15">
            </div> <!-- class="field input" -->

             <!-- Password input field -->
            <div class="field input">
                <label for="confirmpassword">Confirm Password:</label>
                <input type="password" name="confirmpassword" id="confirmpassword" required minlength="8" maxlength="15">
            </div> <!-- class="field input" -->

            <!-- Message display -->
            {% if message %}
                <p class="message">{{ message }}</p>
            {% endif %}
     
            <!-- Submit button -->
            <div class="field">
                <button type="submit">Reset Password</button>
            </div> <!-- class="field" -->
        </form>
    </div> <!-- class="box form-box" -->
</div> <!-- class="container" -->

{% endblock %}