<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/book.png" type="image/png">
</head>

<body>
    <header>
        <div class="header">
            <!-- Header name -->
            <h1>Library</h1>
        </div>
    </header>

    <!-- Navigation bar -->
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/books">Books</a>
        <a href="/genre">Genre</a>
        <a href="/author">Author</a>
        <a href="/contact_us">Contact Us</a>
        <a href="/log-in">Log In</a>
        <a href="/register">Register</a>

        <!-- Search form -->
        <div class="search-container">
            <form action="/search" method="post">
                <label for="searchterm"></label>
                <input type="text" id="searchterm" placeholder="Search title..." name="searchterm">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <main>
        <!-- Content block -->
        {% block content %}
        {% endblock %}
    </main>

    <!-- Horizontal lines for separation -->
    <h1>------------------------------------------------------------------------</h1>
    <h1>------------------------------------------------------------------------</h1>


    <footer>
        <!-- Footer -->
        <h3>This is a footer for Peraksana Thayakaran's Project Page. No copyrights here lol</h3>
    </footer>
</body>
</html>